.breadcrum{
    display:flex ;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    margin: 110px 170px 50px 50px;
    text-transform: capitalize;
}

.breadcrum a {
    color: #a9a7a7;
    text-decoration: none;
    transition: color 0.2s ease;
}

.breadcrum a:hover {
    color: #606060;
}

.breadcrum span {
    color: #b4b3b3;
    font-weight: 500;
}



@media(max-width:1280px){
    .breadcrum{
        margin: 100px 120px 50px 50px;
        font-size: 15px;
    }
}


@media(max-width:1024px){
    .breadcrum{
        margin: 100px 80px 40px 50px;
        font-size: 14px;
        gap: 6px;
    }
}



@media(max-width:800px){
    .breadcrum{
        margin: 100px 40px 30px 30px;
        font-size: 13px;
        gap: 5px;
    }
}



@media(max-width:500px){
    .breadcrum{
        margin: 105px 20px 30px 30px;
        font-size: 12px;
        gap: 4px;
    }
}
